@inherits LayoutComponentBase

<div class="page">
  <main class="min-h-[90vh] bg-background-light">
      <NavMenu />
      <article class="px-4 pt-0">
          @Body
      </article>
      <SiteFooter />
  </main>

  <div id="blazor-error-ui">
      An unhandled error has occurred.
      <a href="" class="reload">Reload</a>
      <a class="dismiss">🗙</a>
  </div>
</div>